#container{
    background-color: rgb(244, 0, 110);
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 2fr;
}
.child{
    background-color: blue;
}
.child1{
    grid-column: 1/3;

}
.child4{
    grid-row: 2/4;
}